%div{ 'ng-controller': 'PostsController as controller', class: 'row' }
  %h1 Listing posts

  %table{ class: 'table table-bordered table-striped' }
    %thead
      %tr
        %th Title
        %th Body
        %th Starred
        %th
        %th
        %th

    %tbody
      %tr{ 'ng-repeat': 'post in posts' }
        %td {{ post.title }}
        %td {{ post.body }}
        %td {{ post.starred }}
        %td
          %a{ href: '{{post.url }}' } Show
        %td
          %a{ href: "{{post.url + '/edit' }}" } Edit
        %td
          %a{ href: "{{post.url}}", data: { method: 'delete', confirm: 'Are you sure?' } } Destroy



  %br

  = link_to 'New Post', new_post_path, { class: 'btn btn-default', 'uib-tooltip': 'Create a new post...', 'tooltip-trigger': 'mouseenter', 'tooltip-placement': 'right' }


